{% extends 'base.html' %}

{% block content %}


        <main class="main">
            <div class="intro-slider-container mb-0">
                <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl"
                    data-owl-options='{"nav": false, "dots": false}'>
                    <div class="intro-slide"
                        style="background-image: url(assets/images/demos/demo-5/slider/slide-1.jpg);">
                        <div class="container intro-content text-center">
                            <h3 class="intro-subtitle text-white">Don’t Miss</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">Mystery Deals</h1><!-- End .intro-title -->
                            <div class="intro-text text-white">Online Only</div><!-- End .intro-text -->
                            <a href="/category" class="btn btn-primary">Discover NOW</a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->

                    <div class="intro-slide"
                        style="background-image: url(assets/images/demos/demo-5/slider/slide-2.jpg);">
                        <div class="container intro-content text-center">
                            <h3 class="intro-subtitle text-white">Limited time only</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">Treat your self</h1><!-- End .intro-title -->
                            <div class="intro-text text-white">Up to 50% off</div><!-- End .intro-text -->
                            <a href="/category" class="btn btn-primary">Shop NOW</a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                </div><!-- End .intro-slider owl-carousel owl-theme -->

                <span class="slider-loader text-white"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->

            <div class="brands-border owl-carousel owl-simple mb-5" data-toggle="owl" data-owl-options='{
                    "nav": false, 
                    "dots": false,
                    "margin": 0,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "420": {
                            "items":3
                        },
                        "600": {
                            "items":4
                        },
                        "900": {
                            "items":5
                        },
                        "1024": {
                            "items":6
                        },
                        "1360": {
                            "items":7
                        }
                    }
                }'>
                <a href="#" class="brand">
                    <img src="static/assets/images/brands/1.png" alt="Brand Name">
                </a>

                <a href="#" class="brand">
                    <img src="static/assets/images/brands/2.png" alt="Brand Name">
                </a>

                <a href="#" class="brand">
                    <img src="static/assets/images/brands/3.png" alt="Brand Name">
                </a>

                <a href="#" class="brand">
                    <img src="static/assets/images/brands/4.png" alt="Brand Name">
                </a>

                <a href="#" class="brand">
                    <img src="static/assets/images/brands/5.png" alt="Brand Name">
                </a>

                <a href="#" class="brand">
                    <img src="static/assets/images/brands/6.png" alt="Brand Name">
                </a>

                <a href="#" class="brand">
                    <img src="static/assets/images/brands/7.png" alt="Brand Name">
                </a>
            </div><!-- End .owl-carousel -->

            <div class="container">
                <div class="banner-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="banner banner-border">
                                <a href="{% url 'mainapp:products' %}">
                                    <img src="static/assets/images/demos/demo-5/banners/banner-1.jpg" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle"><a href="{% url 'mainapp:products' %}">Trending now</a></h4>
                                    <!-- End .banner-subtitle -->
                                    <h3 class="banner-title"><a href="{% url 'mainapp:products' %}"><span>This Week's<br>Most Wanted</span></a>
                                    </h3><!-- End .banner-title -->
                                    <a href="{% url 'mainapp:products' %}" class="btn btn-outline-primary-2 banner-link">Discover Now<i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-md-6-->

                        <div class="col-md-6">
                            <div class="banner banner-border-hover">
                                <a href="{% url 'mainapp:products' 2 %}">
                                    <img src="static/assets/images/demos/demo-5/banners/banner-2.jpg" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle"><a href="{% url 'mainapp:products' 2 %}">Limited time only.</a></h4>
                                    <!-- End .banner-subtitle -->
                                    <h3 class="banner-title"><a href="{% url 'mainapp:products' 2 %}"><span>Trainers & Sportwear<br>Sale Up to 70%
                                                off</span></a></h3><!-- End .banner-title -->
                                    <a href="{% url 'mainapp:products' 2 %}" class="btn btn-outline-primary-2 banner-link">Shop Now<i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->

                            <div class="banner banner-border-hover">
                                <a href="{% url 'mainapp:products' 1 %}">
                                    <img src="static/assets/images/demos/demo-5/banners/banner-3.jpg" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle"><a href="{% url 'mainapp:products' 1 %}">This week we love...</a></h4>
                                    <!-- End .banner-subtitle -->
                                    <h3 class="banner-title"><a href="{% url 'mainapp:products' 1 %}"><span>Womens <br>Holiday Clothes</span></a>
                                    </h3><!-- End .banner-title -->
                                    <a href="{% url 'mainapp:products' 1 %}" class="btn btn-outline-primary-2 banner-link">Discover Now<i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->
                </div><!-- End .banner-group -->
            </div><!-- End .container -->

            <div class="mb-4"></div><!-- End .mb-6 -->

            <div class="container">
                <div class="heading heading-center mb-3">
                    <h2 class="title">Trendy Products</h2><!-- End .title -->

                    <ul class="nav nav-pills justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="trendy-all-link" data-toggle="tab" href="#trendy-all-tab"
                                role="tab" aria-controls="trendy-all-tab" aria-selected="true">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="trendy-women-link" data-toggle="tab" href="#trendy-women-tab"
                                role="tab" aria-controls="trendy-women-tab" aria-selected="false">Women</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="trendy-men-link" data-toggle="tab" href="#trendy-men-tab" role="tab"
                                aria-controls="trendy-men-tab" aria-selected="false">Men</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="trendy-access-link" data-toggle="tab" href="#trendy-access-tab"
                                role="tab" aria-controls="trendy-access-tab" aria-selected="false">Accessories</a>
                        </li>
                    </ul>
                </div><!-- End .heading -->

                <div class="tab-content tab-content-carousel">
                    <div class="tab-pane p-0 fade show active" id="trendy-all-tab" role="tabpanel"
                        aria-labelledby="trendy-all-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow"
                            data-toggle="owl" data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true
                                    }
                                }
                            }'>

                            {% for item in data %}

                            <div class="product product-2">
                                <figure class="product-media">
                                    <a href="{% url 'mainapp:product' item.slug 'small' %}">
                                        <img src="/media/{{item.image}}"
                                            alt="Product image" class="product-image">
                                        
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="{% url 'mainapp:add-to-wishlist' item.slug %}" class="btn-product-icon btn-wishlist btn-expandable"
                                            title="Add to wishlist"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action -->

                                    <div class="product-action product-action-transparent">
                                        <a href="{% url 'mainapp:add-to-cart' item.slug 'small' %}" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">Clothing</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="{% url 'mainapp:product' item.slug 'small' %}">{{ item.title }}</a></h3>
                                    <!-- End .product-title -->
                                    <div class="product-price">
                                       Rs {{item.price}}
                                    </div><!-- End .product-price -->

                                    <!-- <div class="product-nav product-nav-dots">
                                        <a href="#" class="active" style="background: #2d272b;"><span
                                                class="sr-only">Color name</span></a>
                                        <a href="#" style="background: #8f957d;"><span class="sr-only">Color
                                                name</span></a>
                                    </div>End .product-nav -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->

                            {% endfor %}

                           
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->



                    <div class="tab-pane p-0 fade" id="trendy-women-tab" role="tabpanel"
                        aria-labelledby="trendy-women-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow"
                            data-toggle="owl" data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true
                                    }
                                }
                            }'>

                            {% for item in women %}

                            <div class="product product-2">
                                <figure class="product-media">
                                    <a href="{% url 'mainapp:product' item.slug %}">
                                        <img src="/media/{{item.image}}"
                                            alt="Product image" class="product-image">
                                        
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="{% url 'mainapp:add-to-wishlist' item.slug%}" class="btn-product-icon btn-wishlist btn-expandable"
                                            title="Add to wishlist"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action -->

                                    <div class="product-action product-action-transparent">
                                        <a href="{% url 'mainapp:add-to-cart' item.slug%}" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">Clothing</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="{% url 'mainapp:product' item.slug %}">{{ item.title }}</a></h3>
                                    <!-- End .product-title -->
                                    <div class="product-price">
                                       Rs {{item.price}}
                                    </div><!-- End .product-price -->

                                    <!-- <div class="product-nav product-nav-dots">
                                        <a href="#" class="active" style="background: #2d272b;"><span
                                                class="sr-only">Color name</span></a>
                                        <a href="#" style="background: #8f957d;"><span class="sr-only">Color
                                                name</span></a>
                                    </div>End .product-nav -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->

                            {% endfor %}

                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane p-0 fade" id="trendy-men-tab" role="tabpanel"
                        aria-labelledby="trendy-men-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow"
                            data-toggle="owl" data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true
                                    }
                                }
                            }'>
                            {% for item in men %}

                            <div class="product product-2">
                                <figure class="product-media">
                                    <a href="{% url 'mainapp:product' item.slug 'small' %}">
                                        <img src="/media/{{item.image}}"
                                            alt="Product image" class="product-image">
                                        
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="{% url 'mainapp:add-to-wishlist' item.slug 'small' %}" class="btn-product-icon btn-wishlist btn-expandable"
                                            title="Add to wishlist"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action -->

                                    <div class="product-action product-action-transparent">
                                        <a href="{% url 'mainapp:add-to-cart' item.slug 'small' %}" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">Clothing</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="{% url 'mainapp:product' item.slug 'small' %}">{{ item.title }}</a></h3>
                                    <!-- End .product-title -->
                                    <div class="product-price">
                                       Rs {{item.price}}
                                    </div><!-- End .product-price -->

                                    <!-- <div class="product-nav product-nav-dots">
                                        <a href="#" class="active" style="background: #2d272b;"><span
                                                class="sr-only">Color name</span></a>
                                        <a href="#" style="background: #8f957d;"><span class="sr-only">Color
                                                name</span></a>
                                    </div>End .product-nav -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->

                            {% endfor %}
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane p-0 fade" id="trendy-access-tab" role="tabpanel"
                        aria-labelledby="trendy-access-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow"
                            data-toggle="owl" data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true
                                    }
                                }
                            }'>
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .container -->

            <div class="mb-5"></div><!-- End .mb-5 -->

            
        </main><!-- End .main -->
        {% endblock %}
       